In [14]:
import pandas as pd
from pprintpp import pprint as pp
import numpy as np 
import altair as alt
from vega_datasets import data
import random
pd.set_option('display.max_rows', 500)

In [6]:
mar20 = pd.read_csv('turnstile_mar2020.csv')
mar21 = pd.read_csv('turnstile_mar2021.csv')

In [7]:
len(mar20)

207017

In [34]:
mar21 = mar21[(mar21['change'] < 10000) & (mar21['change'] > 0 ) ]

KeyError: 1048570

In [10]:
mar21.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,change
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2/20/21,3:00:00,REGULAR,7533822,2568869,0
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2/20/21,7:00:00,REGULAR,7533826,2568881,4
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2/20/21,11:00:00,REGULAR,7533854,2568925,28
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2/20/21,15:00:00,REGULAR,7533940,2568965,86
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2/20/21,19:00:00,REGULAR,7534089,2568994,149

In [12]:
mar21 = mar21[(mar21['change'] < 10000) & (mar21['change'] > 0 ) ]

In [15]:
mar21

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,change
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2/20/21,7:00:00,REGULAR,7533826,2568881,4
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2/20/21,11:00:00,REGULAR,7533854,2568925,28
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2/20/21,15:00:00,REGULAR,7533940,2568965,86
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2/20/21,19:00:00,REGULAR,7534089,2568994,149
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,2/20/21,23:00:00,REGULAR,7534197,2569013,108
...,...,...,...,...,...,...,...,...,...,...,...,...
209755,TRAM2,R469,00-00-01,RIT-ROOSEVELT,R,RIT,2/26/21,8:00:00,REGULAR,3657601,49010,83
209756,TRAM2,R469,00-00-01,RIT-ROOSEVELT,R,RIT,2/26/21,12:00:00,REGULAR,3657818,49018,217
209757,TRAM2,R469,00-00-01,RIT-ROOSEVELT,R,RIT,2/26/21,16:00:00,REGULAR,3657987,49025,169
209758,TRAM2,R469,00-00-01,RIT-ROOSEVELT,R,RIT,2/26/21,20:00:00,REGULAR,3658140,49032,153
209885,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2/20/21,0:00:00,REGULAR,5554,544,2343

In [20]:
mar21_week = mar21.groupby(['STATION']).sum().reset_index()